Imports

In [4]:
import math

                                        Conversion Programs

Functions:

In [5]:
def convert_to_farenheit(x:float):
    return ((1.8*x)+32)
def convert_to_celsius(x:float):
    return ((x-32)*5/9)
def rupees_to_dollars(x:float):
    return (x/88.50)
def dollar_to_rupees(x:float):
    return (x*88.50)

In [6]:
def degree_to_radian(x:float):
    return (x*math.pi/180)
def radian_to_degree(x:float):
    return (x*180/math.pi)

In [7]:
def meters_to_kilometers(x:float):
    return (x/1000)
def kilometers_to_meters(x:float):
    return x*1000

Program:

In [8]:
# CONVERT RUPEES TO DOLLARS
r=float(input("Give the amount in ruppes :"))
print(f"Rs{r} = ${rupees_to_dollars(r)}")
#CONVERT DOLLARS TO RUPEES
d=float(input("Give the amount in dollars :"))
print(f"${d} = Rs{dollar_to_rupees(d)}")

Give the amount in ruppes : 45

Rs45.0 = $0.5084745762711864

Give the amount in dollars : 87

$87.0 = Rs7699.5

In [6]:
#CONVERT  METERS TO KILOMETERS
m=float(input("Give the the value in meters :"))
print(f"{m} meters = {meters_to_kilometers(m)} kilometers")
#CONVERT  KILOMETERS TO METERS
km=float(input("Give the the value in meters :"))
print(f"{km} kilometers = {kilometers_to_meters(km)} meters")

32000.0 meters = 32.0 kilometers
32.0 kilometers = 32000.0 meters

In [7]:
#CONVERT CELSIUS TO FARENHEIT
c=float(input("Give the the value in Celsius :"))
print(f"{c}℃ = {convert_to_farenheit(c)}℉")
#CONVERT FARENHEIT TO CELSIUS
f=float(input("Give the the value in Celsius :"))
print(f"{f}℉ = {convert_to_celsius(f)}℃")

25.0℃ = 77.0℉
149.0℉ = 65.0℃

                                            Calculator

In [ ]:
def operation(x:float,y:float,op:str):
    match(op):
        case "+":
            print(f"{x}+{y}={x+y}")
            
        case "-":
            print(f"{x}-{y}={x-y}")
        case "%":
            print(f"{x}%{y}={x%y}")
        case "÷":
            print(f"{x}÷{y}={x/y}")
        case "×":
            print(f"{x}×{y}={x*y}")
        case "*":
            print(f"{x}*{y}={x*y}")
        case "^":
            print(f"{int(x)}^{int(y)}={int(x)^int(y)}")
        case "/":
            print(f"{int(x)}/{int(y)}={(x)/(y)}")
        case "**":
            print(f"{x}**{int(y)}={x**y}")
        case "//":
            print(f"{int(x)}//{int(y)}={(x)//(y)}")

        case _:
            print(f"Invalid Operation '{op}' !")

        

def parse(exp:str):
    exp= exp.replace("÷",'/')
    exp=exp.replace("×","*")
    return exp

PROGRAM:

In [10]:
try:
    op=input("Give any Operator(+,-,*,÷,×,//,/,^) :")
    a=float(input("Give a Number       :"))
    b=float(input("Give another Number :"))
    operation(a,b,op)
except Exception as e:
    print(f"Error:{e}")

Give any Operator(+,-,*,÷,×,//,/,^) : *
Give a Number       : 97
Give another Number : 99

97.0*99.0=9603.0

In [12]:
try:
    exp=input('Give the Calculator Expression:')
    print(f"{parse(exp)}")
    print(f"Output:{eval(parse(exp))}")
except Exception as e:
    print("Error Ocrrued!")

12^3
Output:15